@import '../global/variables';
@import '../global/mixins';

.book {
    @include reset;
  background-image: url("/src/img/mask.png"), url("/src/img/mountain.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top, top center;
  padding-bottom: 275px;
  position: relative;
}

.book__wrapper {
  padding-top: 184px;
  padding-left: 61px;
}

.book__title {
  margin: 0;
  font-size: 55px;
  line-height: 66px;
  font-weight: 800;
  color: $white;
  letter-spacing: 4px;
  margin-bottom: 29px;
}

.book__button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: $dark-blue;
  text-transform: uppercase;
  background-color: $white-d;
  padding: 21px 86px;
  border: none;
  cursor: pointer;
}

.book__button:hover {
  background-color: $dark-blue;
  color: $white-d;
}