@import '../global/variables';
@import '../global/mixins';

.contacts {
    @include list-reset;
    display: flex;
    width: 730px;
    justify-content: space-between;
    align-items: center;
}

.contacts__item-link {
    font-size: 14px;
    line-height: 17px;
    color: $white;
}