@import "../global/variables";
@import "../global/mixins";

.features {
  width: 1360px;
  position: absolute;
  top: 588px;
  left: 40px;
  background-color: $white;
}

.features__wrapper {
  padding: 41px 134px 46px 44px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.features__title {
  margin: 0;
  font-size: 36px;
  line-height: 43px;
  font-weight: 400;
}
