@import "../global/variables";
@import "../global/mixins";

.features {
  width: 94.5%;
  position: absolute;
  bottom: -9%;
  left: 50%;
  transform: translateX(-50%);
  background-color: $white;
}

.features__wrapper {
  padding: 41px 134px 46px 44px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.features__title {
  margin: 0;
  font-size: 36px;
  line-height: 43px;
  font-weight: 400;
}


.features-list {
  @include list-reset;
  width: 713px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.features-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-list__item-img {
  
  //background-position: center;
  background-size: cover;
  

  
}

.wifi-icon {
  background-image: url("/src/img/svg/wifi.svg");
  width: 35px;
  height: 25px;
}
.transfer-icon {
  background-image: url("/src/img/svg/transfer.svg");
  width: 29px;
  height: 25px;
}
.breakfast-icon {
  background-image: url("/src/img/svg/breakfast.svg");
  width: 29px;
  height: 29px;
}
.laundry-icon {
  background-image: url("/src/img/svg/laundry.svg");
  width: 25px;
  height: 32px;
}




.features-list__item-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  order: 2;
  margin-top: 19px;
}