@import "../global/variables";
@import "../global/mixins";

.footer {
  background-color: $blue-back;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 39px 0 88px 61px;
}

.footer__logo {
  margin-right: 120px;
}

.footer__logo-link {
  cursor: pointer;
}

.footer__link-icon {
  fill: $white-grey;
}

.footer__link-icon:hover {
  fill: $dark-blue;
}
