@import '../global/variables';
@import '../global/mixins';

.footer {
    background-color: $blue-back;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 47px 48px 48px 61px;
}

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.footer__logo {
    margin-right: 120px;
}

.footer__logo-link {
    cursor: pointer;
}