@import '../global/variables';
@import '../global/mixins';

.header {
  @include reset;
  position: absolute;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
}
