@import '../global/variables';
@import '../global/mixins';

.header {
  @include reset;
  position: absolute;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__wrapper-logo {
  padding: 31px 0 0 70px;
}