@import "../global/variables";
@import "../global/mixins";

.header {
  @include reset;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__link {
  cursor: pointer;
}

.header__link-icon {
  fill: $white-grey;
}

.header__link-icon:hover {
  fill: $dark-blue;
}

.header__wrapper-logo {
  padding: 31px 0 0 70px;
  z-index: 10;
}
