@import '../global/variables';
@import '../global/mixins';

.nav {
  background-color: $white-grey;
  width: 1075px;
}

.nav__tel-link {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  color: $blue;
  cursor: pointer;
}

.nav__tel-link:hover {
  color: $dark-blue;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 32px 40px 32px 50px;
}