@import '../global/variables';
@import '../global/mixins';

.nav {
  background-color: $white-grey;
  width: 1075px;
}

.nav__tel {
  color: $blue;
  cursor: pointer;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
}