@import "../global/variables";
@import "../global/mixins";

.subscribe {
  background-image: url("/img/blue-back.png"), url("/img/forest-house.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.subscribe__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 119px 60px 68px 61px;
}

.subscribe__wrapper {
  display: flex;
  flex-direction: column;
  width: 358px;
}

.subscribe__title {
  @include reset;
  font-size: 36px;
  line-height: 43px;
  font-weight: 400;
  color: $white;
}

.subscribe__text {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: $grey;
  margin-top: 26px;
}

.subscribe__button {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    background-color: $white-d;
    cursor: pointer;
    border: none;
    padding: 21px 85px 21px 85px;
}

.subscribe__button:hover {
  background-color: $dark-blue;
  color: $white-d;
}

.subscribe__input {
    min-width: 427px;
    border: none;
    padding: 22px 7px 21px 26px;
    outline: none;
}